* {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h2 {
    color: #63458a;
    text-align: center;
    margin: 3% 0;
}

/* Botões de todas as seções */

button {
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 120%;
    text-decoration: none;
    background-color: #b288c0;
    min-width: 250px;
    min-height: 40px;
    border: none;
    border-radius: 5%;    
}

/* Menu Mobile*/

nav {
    background-color: #63458a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
    box-shadow: 5px -9px 3px #000
}

nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.menu-desktop img {
    width: 35%;
    padding: 1% 5%;
    max-width: 200px;
}

nav div ul {
    display: none;
}

.bt-mobile {
    display: inline;
    text-align: right;
}

/* Menu Desktop */

@media (min-width: 1024px) {
    nav {
        position: fixed;
        z-index: 1;
        width: 100%;    
        padding: 5px;
    }

    nav > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }
    
    nav div ul {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
    
    nav div ul li {
        text-decoration: none;
        display: inline-block;
        width: 25%;
    }
    
    nav div ul li a {
        text-decoration: none;
        color: white;
    }

    .bt-mobile {
        display: none;
    }
}


/* Cabeçalho Mobile */

header {
    background: url(../img/bg-banner-claro.png);
    background-size: cover;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: 46%;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:  white;
    text-align: center;
}

header div > div {
    padding: 5%;
}

header h1 {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.2em;
    margin-bottom: 0;
    padding-top: 3%;
    font-size: 160%;
}

button a {
    text-decoration: none;
    color: white;
    font-size: 110%;
    padding: 4%;
}


/* Cabelhaço Desktop */

@media (min-width: 1024px) {
    header {
        min-height: 70vh;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        padding-top: 1%;
        padding-left: 8%;
    }

    header div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        text-align: left;
        width: 70%;
        min-height: inherit;
    }

    header div > button {
        margin: 0;
    }

    header h1 {
        font-size: 230%;
    }

    header p {
        font-size: 120%;
    }
}

/* Seção Sobre */

.sobre {
    background: linear-gradient(to right, #7e5a9b, #b288c0);
    color: white;
    text-align: center;
    line-height: 140%;
    padding: 3%;
}

.sobre p {
    padding: 0 5%;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.sobre img {
    width: 40%;
    max-width: 300px;
}

@media (min-width: 769px) {
    .sobre {
        font-size: 22px;
    }

    .sobre p {
        padding: 0 13%;
    }
}

/* Seção Maravilhosas */

.maravilhosas {
    background-color: #EFF4F0;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maravilhosas div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #63458a;
    min-width: 130px;
    max-width: 28%;
}

.maravilhosas > div {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.maravilhosas a > img {
    width: 80%;
}

@media (min-width: 1024px) {
    .maravilhosas > div {
        width: 70%;
    }
}

/* Seção Autoras do Projeto */

.projeto {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 4%;
    background-color: #63458a;
}

.projeto h2 {
    color: white;
}

.projeto div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    margin-bottom: 3%;
}

.projeto a > img {
    width: 80%;
} 

.projeto img {
    max-width: 110px;
    min-width: 25%;
}

.projeto img > a {
    width: 100%;
} 

/* Seção Projetos Desktop */
@media (min-width: 1024px) {
    .projeto div {
        width: 50%;
        align-content: space-around;
        height: 100vh;
    }
}


/* Página Mulher - Parte Interna */

/* Cabeçalho Mobile */

.mulher {
    background: url(../img/bg-banner-escuro.png);
    background-size: cover;
    min-height: 40vh;
    background-repeat: no-repeat;
    background-position: 46%;
    padding: 0;
}

.mulher div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    color:  white;
    text-align: center;
    min-height: inherit;
    width: 100%;

}

.mulher h1 {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.2em;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 2%;
}


/* Cabelhaço Desktop */

@media (min-width: 1024px) {
    .mulher {
        min-height: 80vh;
        
    }

    .mulher h1 {
        font-size: 6em;
        margin-bottom: 1%;
    }

    .mulher div {
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }

}

/* Main Seção Personalidade */

.personalidade > div {
    width: 90%;
    margin: 0 auto;
}

.personalidade div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personalidade img {
    width: 50%;
}

.destaque {
    border: medium solid #63458a;
    padding: 3%;
    display: block;
    width: 90%;
    text-align: center;

}

.personalidade p {
    color: #63458a;
}

/* Main Seção Sobre Desktop */

@media (min-width: 1024px) {
    

    .personalidade div > div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .personalidade > div {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .personalidade {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .personalidade p {
        font-size: 22px;
    }

    .personalidade img {
        padding-right: 8%; 
        width:  35%;
    }

    .destaque {
        width: 100%;
    }

    .personalidade h2 {
        display: block;
        width: 100%;
    }
}

/* Seção História */

.historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.historia p {
    color: #63458a;
}

.historia h2 {
    text-align: left;
}

.historia div {
    width: 90%;
}

.foto-destaque > img {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

/* Seção Historia Desktop */

@media (min-width: 1024px) {
    .foto-destaque {        
        width: 70%;
        margin: 0 auto;
    }

    .historia div {
        width: 70%;
    }

    .historia p {
        font-size: 22px;
    }
}

/* Seção Mais */

.mais {
    background-color: #b288c0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.mais img {
    width: 30%;
    max-width: 200px;
}

.mais p {
    color: white;
    font-weight: 700;
    font-size: 80%;
    margin: 5px 0;
}

.mais a {
    text-decoration: none;
    font-weight: 700;
    font-size: 80%;
    color: #63458a;
}

.mais a:hover {
    color: white;
}

.mais > div {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mais div > div {
    padding: 3%;
}

/* Seção Mais Desktop */

@media (min-width: 1024px) {
    .mais > div {
        width: 40%;
    }

    .mais p {
        font-size: 130%;
    }
    
    .mais a {
        font-size: 130%;
    }
}

/* Seção Perfis Recomendados */

.recomendados > div {
    width: 100%;
    background-color: #b288c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 4%; 
}

.recomendados div > div {
    padding: 4%;    
}

.recomendados p {
    color: white;
}

.recomendados a {
    color: #63458a;
    font-weight: 700;
    text-decoration: none;
}

.recomendados a:hover {
    color: white;
    font-weight: 700;
}

@media (min-width: 1024px) {
    .recomendados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recomendados > div {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 4%; 
    }

    .recomendados img {
        width: 40%;
    }

    .recomendados p, .recomendados a {
        font-size: 22px;
        font-weight: bold;
    }
}



/* Página Perfis - Parte Interna */

/* Cabeçalho Mobile */

.perfis {
    background: url(../img/bg-banner-escuro.png);
    background-size: cover;
    min-height: 40vh;
    background-repeat: no-repeat;
    background-position: 46%;
    padding: 0;
}

.perfis div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:  white;
    text-align: center;
    min-height: inherit;

}

.perfis h1 {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.2em;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 2%;
}


/* Cabelhaço Desktop */

@media (min-width: 1024px) {
    .perfis {
        min-height: 80vh;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .perfis div {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

    .perfis h1 {
        font-size: 6em;
        margin-bottom: 1%;
    }

}

/* Seção Foto Perfis */

.foto-perfis {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto-perfis div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #63458a;
    min-width: 150px;
    max-width: 35%;
    
}

.foto-perfis > div {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.foto-perfis a > img {
    width: 70%;
}

.foto-perfis a {
    text-decoration: none;
    color: #63458a;  
}

.foto-perfis p {
    margin: 3px;
}

@media (min-width: 1024px) {
    .foto-perfis {
        padding: 2%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .foto-perfis > div a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: center;
    }
    .foto-perfis div > div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        text-align: left;
        min-height: 44vh;
    
    }

    .drc-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foto-perfis a > img {
        width: 50%;
    }
}

/* Página Sobre  Parte Interna */

/* Título >>>> SOBRE herda propriedades de página >>>> PERFIL */

.pg-sobre div > img {
    width: 100%;
}

.pg-sobre p {
    color: #63458a;
}

.surgiu, .drc-projeto {
    display: flex;
    justify-content: center;
    align-content: center;
}

.surgiu div, .drc-projeto > div {
    width: 90%;
}

.drc-projeto {
    flex-direction: column;
    align-items: center;
}

.drc-projeto div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dados {
    text-align: center;
    width: 100%;
}

.dados div p:nth-child(1) {
    font-size: 5em;
    margin: 0;
    font-weight: 700;
    color: black;
}

.equipe {
    background: linear-gradient(to right, #7e5a9b, #b288c0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.equipe h2 {
    color: white;
}

.equipe div > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 130px;
    max-width: 16%;
    height: 27vh;
    position: relative;
}

.equipe > div {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    padding-bottom: 3%;
}

.equipe div > p {
    height: 23%;
    width: 100%;
    margin: 0;
    background-color: rgba(255, 254, 254, 0.808);
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Página Sobre >>>> Desktop */

@media (min-width: 768px) {
    .equipe div > p {
        top: 62%;
    }
}


@media (min-width: 1024px) {
    .pg-sobre p {
        font-size: 22px;
    }

    .equipe p {
        font-size: 14px;
    }

    .surgiu div, .drc-projeto div  {
        width: 70%;
    }

    .pg-sobre div > img {
        width: 70%;
    }
    
    .pg-sobre > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dados > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        width: 100%;
    } 
    
    .equipe > div {
        width: 70%;
    }

    .equipe div > img {
        width: 100%;
    }
    
    .equipe div > p {
        top: 80%;
    }
}



/* Rodapé  >>>>>>>>>>>>> Todas as páginas */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 48, 48);
    color: white;
    padding-top: 3%;
}

footer div:nth-child(4) {
    background-color: rgb(34, 34, 34);
    display: block;
    width: 100%;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    line-height: 24px;
}

footer p {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 18px;
}

footer a {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #b288c0;
}

footer div:nth-child(2) {
    padding: 0 8%;
    font-style: italic;
    text-align: center;
    font-size: 70%;
}

footer div:nth-child(2) > img {
    width: 70%;
}

footer div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div:nth-child(3) > img {
    width: 14%;
    padding: 0 10px;
}

footer div:nth-child(4) > p {
    font-size: small;
}

/* Rodapé Desktop */

@media (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding-top: 1%;
    }

    footer div:nth-child(4) {
        display: block;
        width: 100%;
    }

    footer div:nth-child(2) {
        width: 25%;
        padding: 0 5%;
    }

    footer div:nth-child(1) {
        padding-right: 8%;
    }
}